.btn-search {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-image: url("/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--ig--bgColorBtn);
    border: 2px solid var(--ig--bgColorBorder);
}

.btn-search:hover {
    transform: scale(1.1);
}

.btn-login {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--ig--bgColorBtn);
    background-image: url("/icon-user.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 2px solid var(--ig--bgColorBorder);
}

.btn-login:hover {
    transform: scale(1.1);
}

.btn-close {
    position: absolute;
    right: 30px;
    border: none;
    color: var(--ig--bgColorLetter);
    background-color: var(--ig--bgColorBtn);
    border-radius: 100%;
    font-size: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 2px solid var(--ig--bgColorBtn);
}

.btn-close:hover {
    transform: scale(1.1);
}

@media (min-width: 1600px) {
    .btn-close {
        right: 120px;
    }
}

.btn {
    min-width: 130px;
    height: 40px;
    color: var(--ig--bgColorLetter);
    padding: 5px var(--ig-padding-xs);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 10px;
    z-index: 0;
    background: var(--ig--bgColorLetter);
    overflow: hidden;
    border: 2px solid var(--ig--bgColorBorder);
    color: var(--ig--bgColorBorder);
    background: var(--ig--bgColorGradient0);
    background: radial-gradient(circle, var(--ig--bgColorGradient0) 0%, var(--ig--bgColorGradient1) 0%, var(--ig--bgColorGradient2) 100%);
}

.btn:hover {
    color: var(--ig--bgColorLetter);
}

.btn:hover:after {
    width: 100%;
}

.btn:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: var(--ig--bgColorBorder);
}