/* GAMES */

#list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--ig-gap-l);
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: var(--ig-margin-l);
}

main {
    width: 90%;
    padding: var(--ig-padding-xs);
}

ul>li {
    display: flex;
    flex-direction: column;
    width: 250px;
}

ul>li>img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: all ease 0.5s;
}

@media (min-width: 768px) {
    ul>li {
        width: 250px;
    }
}

ul>li>img:hover {
    transform: scale(1.1);
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--ig-gap-s);
}

.game>section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    display: flex;
    justify-content: space-between;
}

section>h2 {
    color: var(--ig--bgColorH3);
    font-size: 16px;
}

section>h3 {
    color: var(--ig--bgColorLetter);
    font-size: 18px;
}

.div-info {
    width: 90%;
    margin: var(--ig-margin-l) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--ig-gap-m);
}

.div-info>img {
    width: 100%;
    border-radius: 20px;
}

.info-game {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.info-game>h2 {
    font-size: 18px;
}

.info-game>h3 {
    font-size: 20px;
    color: var(--ig--bgColorLetter);
}

.description {
    padding: 0;
    text-align: justify;
    color: var(--ig--bgColorH3);
    font-size: 18px;
}

@media (min-width: 650px) {
    .div-info {
        width: 70%;
    }
}

@media (min-width: 1080px) {
    .div-info {
        width: 50%;
    }
}

.section-star {
    margin: auto;
    width: 80%;
}

.star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: var(--ig--bgColorLetter);
    width: 12px;
    height: 12px;
    padding: 0
}

.fill-star {
    background-color: var( --ig--bgColorStar);
}